*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction:column;
    font-size: 16px;
    font-family: tahoma;
}

#main{
    margin:30px 8px;
    background-color: #dee2e6;
    border-radius: 7px;
    padding: 0.5em;
    font-family: tahoma;
}

.title{
    text-align: center;
    margin: 20px 0;
    font-family:tahoma;
}
.h1{
    font-size: 3.5vw;
}
.p{
    font-size: 1vw;
}
#img-div{
    width: 100%;
    max-width: 1450px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.2em 0.5em 0.5em 0.5em;
}

#image{
    display:block;
    width: 100%;
    max-width: 100%;
    height:auto;
    object-fit: cover;
}
figcaption{
    text-align: center;
    padding: 10px;
    font-size: 1.0vw;
    font-weight: 300;
    
}
#title{
    text-align: center;
    font-size: 1.5vw;
    
    font-family: tahoma;
}

article{
    width: 40%;
    display: block;
    margin: 5px auto;
    padding: 1em;
}

article h2{
    padding: 1em;
    margin-bottom: 0.5em;
}
article span{
    font-weight:900;
    margin: 0 5px;
    font-size: 1.0vw;
}

article li{
    font-weight:100;
    text-align: justify;
    margin-bottom: 18px;
    font-size: 0.9vw;
    font-family: tahoma;
    
}
section{
    margin-top: 2vw;
}
.quets{
    line-height: 20px;
    padding: 5px;
    text-align: justify;
    font-size: 0.90vw;
} 
.end{
    text-align: center;
    font-size: 1.2vw;
    margin: 2rem auto;
}
#tribute-link{
    text-decoration: none;
    color: #0466c8;
}
#tribute-link:hover{
    color:#4cc9f0;
}
#triute-link:visited{
    color:black
}